
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* body{
    background-color: gray;
} */
 /* CSS For Navbar */
.nav-btn{
    margin: 0px 12px;
    width:9rem;
    font-size: 1.3rem;
    border-radius: 0px;
    font-family: 'David Libre', serif;
    
}
.nav-items{
    
    margin: 5px;
    font-size: 1.3rem;

}
.menu:hover{
    border-bottom: 3px rgb(7, 214, 241) solid;
}

.nav_text{
    /* background-color: white; */
    margin-right: 3rem;
}
.brands{
    border-right: 2px grey solid;
    /* padding:0px  8px; */
    padding-right: 1.3rem;
    padding-left: 1rem;
    font-weight: bold;
    font-size: 1.4rem;
}
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.2rem 1rem;
    font-family: 'David Libre', serif;
}
.nav-images{
     height:50px;
     width:65px;
     border-radius: 50%;
     margin-right: 10px;
}
 /* CSS For Jumbotron part */
 .jumbo-section{
     background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
     url('./images/jumbo_images.jpg');
     background-repeat: no-repeat;
     background-size: center,center;
     background-position: center center;
     margin-bottom: 0px;
     
 }
 .jumbo-title{
     font-size: 1.6rem;
 }
 .jumbo-paragraph{
    font-size: 1.3rem;
 }
 .jumbo-button{
border-radius: 0px;
font-size: 18px;
box-shadow: 5px 5px 25px -5px black;
}
/* CSS for about us page */

.boxs{
   background-image: linear-gradient(white,rgb(214, 146, 57));
    height:450px;
    width:350px;                       
    margin:100px  ;
     box-shadow: 5px 5px 15px -3px black;
     float:left;
    }
    .prop{
        clear: both;
    }
.abt_image{
    height:125px;
    width: 150px;
    border-radius: 50%;
   
    position: relative;
    left:28%;
    top:-50px;
    box-shadow: 0px -5px 10px -5px black;
}
/* CSS for contact page */
.contact-body{
    background-color: #f2f2f2;
   
}
.contact-contain{
    display: block;
    background-color:white;
    /* box-shadow: 5px 5px 220px -5px rgb(7, 214, 241); */
    box-shadow: -5px 5px 20px -10px black;
}
.icon-position{
    position: relative;
    top:-32px;
    left:14px;
}
.icon-position-message{
    position: relative;
    top:-240px;
    left:14px;
}
.submit-btn{
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 1px;
    border-radius: 50px !important;
    transition: 0.8s;
    color:#3498db;
    border : 2px #3498db solid;
}
.submit-btn:hover{
    background-color: #3498db;
    color: white;
}
/* CSS for footer */
.bg-black{
    background-color:black 
}
.list-items{
list-style: none;
text-decoration: none;
}

.list-items a:hover{
    text-decoration: none;
}
.icons{
font-size:50px;
margin:10px;
/* background-color: grey; */
padding: 5px;
border-radius: 50%;
}
.line-break{
    background-color: grey;

}



/* Media query  */

@media (min-width:768px) and (max-width:816px){
    .navbar-expand-md {
        flex-flow: row nowrap;
        justify-content: flex-start;
       padding:0px
    }
    .nav-items{
      padding:0px !important;
    margin: 4px 0px 2px 0px;
      font-size: 1.3rem;
    }
    .menu{
        padding:0px !important;
        
        margin:0px !important;
    }
    .nav_text{
        padding:0px !important;
        display: flex;
        margin-right:6px ;
    }
    .nav-btn{
    margin: 4px;
    width:6.4rem;
    font-size: 1.2rem;
    }
    .brands{
        padding: 5px 1px 5px 0px;
        margin-left: 18px;
    }
    /* for jumbotron sections */
    .display-4{
        font-size: 3rem !important;
    }
    .media-jumbo-title{
        font-size: 1.3rem !important;
    }
    .media-jumbo-lead{
        font-size: 16px !important;
    }
  
   }
   @media (min-width:817px) and (max-width:1050px){
    .medias{
        background-color: yellow;
    }
    .navbar-expand-md {
        /* flex-flow: row nowrap;
        justify-content: flex-start; */
       padding:0px
    }
    .nav-items{
      padding:0px !important;
    margin: 4px 0px 2px 0px;
      font-size: 1.3rem;
    }
    .menu{
        padding:0px !important;
        
        margin:0px !important;
    }
    .nav_text{
        padding:0px !important;
        display: flex;
        margin-right:20px ;
    }
    .nav-btn{
    margin: 6px;
    width:7rem;
    font-size: 1.3rem;
    }
    .brands{
        padding: 8px 3px 8px 0px;
        margin-left: 25px;
    }
    /* for jumbotron sections */
    .display-4{
        font-size: 3.5rem !important;
    }
    .media-jumbo-title{
        font-size: 1.5rem !important;
    }
    .media-jumbo-lead{
        font-size: 19px !important;
    }
   }
@media (min-width:860px){
    .jumbo-section{
        background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),
        url('./images/jumbo_images.jpg');
        background-repeat: no-repeat;
        background-size: 100%,100%;
        background-position: center center;
        margin-bottom: 0px;
        
    }
}   
@media (min-width:360px) and (max-width:767px){
    .brands{
        padding: 0px;   
    }
    .nav_text{
        display: flex;
    }
    /* CSS for jumbotron */
    .display-4{
         font-size: 2rem;
     }     
     .media-jumbo-title{
         font-size: 1.1rem;
     }
     .media-jumbo-lead{
         font-size: 14px;
     }
     .jumbo-button{
         font-size: 14px;
         width:9rem;
     }
/* CSS for footer */
.footers h3{
    font-size: 1.7rem;
}
    .icons{
        font-size: 30px;
        margin: 7px;
        padding: 3px;
    }
/* CSS for About us page */
.boxs{
    /* padding-top: 30px; */
    float:none;
    margin:100px auto;
}
.display-4{
    margin-bottom: 30px;
}
}
/* Espically for about us page */
@media (min-width:768px) and (max-width:991px){
  /* for bou us page */
  .boxs{
    float: left;
    margin: 0px;
    margin-top:100px;
    margin-bottom: 20px;
    margin-right: 20px;
    width: 325px;
}
}
@media (min-width:996px) and (max-width:1200px){
    /* for bou us page */
    .boxs{
      float: left;
      margin: 70px;
      margin-top: 120px;
      width: 325px;
  }
  }













